html {
  margin: 0;
  padding: 0;

  font-size: 17px;
}
body {
  margin: 0;
  background-image: url("freecompress-79690646_p0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.flex {
  display: flex;
}
.touming {
  background-color: white;
  opacity: 0.8;
}
.column {
  flex-direction: column;
}
.opacity {
  opacity: 1;
}
.margin-T1 {
  margin-top: 120px;
}

.a {
  color: black;
}
.margin-0 {
  margin: 0;
}
img {
  max-width: 100%;
}
.img-wid {
  width: 900px;
}
